

@model BarberShop.ViewModels.UserLogin.LoginViewModel

@{
	ViewData["Title"] = "Index";
	ViewData["Message"] = "Welcome to your new application.";
    Layout = "_LayoutLogin";
}




    <div class="containerA">
        <h1 class="title-page">Inicio de session</h1>
        <form  method="post" asp-controller="Login" asp-action="Index">
          
            <input class="textInput"
                   type="text"
                   asp-for="Username"
                   required
                   placeholder="Nombere de usuario" />
           
            <input class="textInput"
                   type="password"
                   asp-for="Password"
                   required
                   placeholder="Contraseña" />


            <div class="containerButton">
                <button class="button LoginBtn" type="submit">Iniciar sesion</button>
            <a asp-controller="Login" asp-action="Register" class="button RegisterBtn">
                Registrarse
            </a>

            </div>
        </form>
    </div>
